<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Find-A-Cure: Doctor Search</title>

    <!-- Favicon  -->
<link rel="icon" href="../api/essence/img/core-img/hosp.ico">

    <!-- Core Style CSS -->
<link rel="stylesheet" href="../api/essence/css/core-style.css">
<link rel="stylesheet" href="../api/essence/style.css">

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
<a class="nav-brand" href="../api/essence/index.html"><img src="../api/essence/img/core-img/logo3.png" alt=""></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Search Area -->
                <div class="search-area">
                    <form action="#" method="post">
                        <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </header>
<div class="breadcumb_area bg-img" style="background-image: url(../api/essence/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>doctors</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Shop Grid Area Start ##### -->
    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">

                        <!-- ##### Single Widget ##### -->
                        <div class="widget catagory mb-50">
                            <!-- Widget Title -->
                            <h6 class="widget-title mb-30"></h6>
                            <!--  Catagories  -->
                            <div class="catagories-menu">
                                <form action="/api/doctor/search" method="POST" id="form1">
                                    <fieldset id="option1">
                                        <legend>Speciality</legend>
                                        <input type="radio" name="specialities" value="ENT">ENT</br>
                                        <input type="radio" name="specialities" value="Surgery">Surgery</br>
                                        <input type="radio" name="specialities" value="Medicine">Medicine</br>
                                        <input type="radio" name="specialities" value="SkinVD">Skin & VD</br>
                                        <input type="radio" name="specialities" value="gynaecology">Gynaecology</br>
                                        <input type="radio" name="specialities" value="Orthopedics">Orthopedics</br>
                                        <input type="radio" name="specialities" value="Paediatric">Paediatric</br>
                                    </fieldset>
                                    <fieldset id="option2">
                                        <legend>Super Speciality</legend>
                                        <input type="radio" name="super_spec" value="Gastroentrology">Gastroentrology</br>
                                        <input type="radio" name="super_spec" value="Neurology">Neurology</br>
                                        <input type="radio" name="super_spec" value="Neurosurgery">Neurosurgery</br>
                                        <input type="radio" name="super_spec" value="PlasticSurgery">Plastic Surgery</br>
                                        <input type="radio" name="super_spec" value="Nephrology">Nephrology</br>
                                        <input type="radio" name="super_spec" value="Urology">Urology</br>
                                        <input type="radio" name="super_spec" value="None">None</br>
                                    </fieldset>
                                    <button class="btn btn-danger" type="Submit" form="form1" value="Submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <!-- Sorting -->

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <%for(let doctors of doc) {%>
                            <!-- Single Product -->
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="../api/essence/img/product-img/product-1.jpg" alt="">
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                            <span><%=doctors.experience %></span>
                                    <h6><%= doctors.dname %></h6>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Shop Grid Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="../api/essence/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../api/essence/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../api/essence/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="../api/essence/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="../api/essence/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="../api/essence/js/active.js"></script>

</body>

</html>